[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openapi-spec-validator = {version = ">=0.2.4"}
prance = {version = ">=0.13.2"}

[dev-packages]
pytest = {version = ">=3.5.1"}
connexion = {version = ">=1.4"}
pylint = {version = ">1.8.3"}

[requires]
python_version = "3.5"
